body {
    font-family: Arial, Helvetica, sans-serif
}

#header-nav {
    background-color: #999; 
    border-radius: 0; 
    border: 2px solid black;
    margin-bottom: 0;
}

.navbar-brand {
    padding-top: 10px;
    padding-left: 15px;
}

.navbar-brand h1 {
    color: black;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
    text-shadow: 1px 1px 1px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

/*Mobile menu styles */
#collapsable-nav {
    padding: 0;
    width: 100%;
}

#nav-list {
    margin: 0;
    background-color: #fff;
    border-top: 2px solid black;
    width:  100%; 
}

#nav-list a {
    color: #000;
    text-align: center; 
    font-weight: bold; 
    font-size: 1.2em;
    padding: 15px; 
    border-bottom: 1px solid #000; 
    display: block;
    width: 100%;
}

#nav-list a:hover {
    background: grey;
    text-decoration: none;
}

#nav-list li:last-child a {
    border-bottom: none;
}

.navbar-header button.navbar-toggle {
     border: 2px solid black;
     margin-top: 15px;
     margin-right:15px;
}

.navbar-header .icon-bar {
    background-color: black;
    height: 3px;
}

/* Main */
#main-content {
    padding: 15px;
}

#main-content h2 {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.8em;
}

.section {
    background-color: #999;
    padding: 15px;
    margin-bottom: 25px;
    position: relative;
    border: 2px solid #000;
    padding-bottom: 30px;
}

.section h3 {
    font-weight: bold; 
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 1.4em;
}

.back-to-top {
    position: absolute; 
    bottom: 15px;
    right: 15ps; 
    color: black; 
    text-decoration: underline; 
    font-weight: bold;
}

.back-to-top:hover {
    color: blue; 
    text-decoration: none; 
}

/* Media Dimensions */
@media(min-width: 992px) {
    .section {
        height:  700px; 
        overflow: auto;
    }

    #main-content h2 {
        text-align: center;
    }

    .col-md-4{
        float: left;
        width: 33%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6 {
        width:50%;
        float: left;
    }

    .col-sm-12{
        width: 100%; 
        float: left;
        clear: both;
    }
}

@media (max-width: 767px) {
    .section {
        margin-left: 0;
        margin-right: 0; 
    }

    #collapsable-nav {
        background-color: #fff;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1000;
    }
    
    .navbar-header button.navbar-toggle {
        display: block;
        margin-right: 15px;
    }

    .navbar-collapse.collapse {
        display: none;
    }
    
    .navbar-collapse.collapse.in {
        display: block;
    }
    
    .navbar-header .collapse, .navbar-toggle {
        display: block;
    }
    
    .navbar-header {
        float: none;
    }
    
    .navbar-nav {
        float: none;
        margin: 0;
    }

    .navbar-nav>li {
        float: none;
    }
    
    /* Center the page heading for mobile */
    #main-content h2 {
        text-align: center;
    }
}
